* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
}

:root {
    --font-size-base: 16px;
    --font-color: #000000;
    --h1-size: 3em;
    --h2-size: 1.5em;
    --h3-size: 1.17em;
    --h4-size: 1em;
    --h5-size: 0.83em;
    --h6-size: 0.75em;
    --p-size: 1em;
    --small-size: 0.8em;
    --blockquote-size: 1.25em;
    --pre-size: 1em;
    --code-size: 0.85em;
    --label-size: 1em;
    --input-size: 1em;
    --button-size: 1em;
    --li-size: 1em;
    --figcaption-size: 0.9em;
  }
  
  body {
    font-size: var(--font-size-base);
    color: var(--font-color);
  }
  
  h1 {
    font-size: var(--h1-size);
    color: var(--font-color);
  }
  
  h2 {
    font-size: var(--h2-size);
  }
  
  h3 {
    font-size: var(--h3-size);
  }
  
  h4 {
    font-size: var(--h4-size);
  }
  
  h5 {
    font-size: var(--h5-size);
  }
  
  h6 {
    font-size: var(--h6-size);
  }
  
  p {
    font-size: var(--p-size);
  }
  
  small {
    font-size: var(--small-size);
  }
  
  blockquote {
    font-size: var(--blockquote-size);
  }
  
  pre {
    font-size: var(--pre-size);
  }
  
  code {
    font-size: var(--code-size);
  }
  
  label {
    font-size: var(--label-size);
  }
  
  input {
    font-size: var(--input-size);
  }
  
  button {
    font-size: var(--button-size);
  }
  
  li {
    font-size: var(--li-size);
  }
  
  figcaption {
    font-size: var(--figcaption-size);
  }

/* Info Nav Bar */
.nav-info {
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-info img {
    height: 25px; /* Adjust the height of the location icon */
}

.nav-info-link {
    display: inline-flex;
    text-decoration: none; /* Removes underline from the link */
    align-items: center;
}

.nav-info-link  img {
    margin-right: 10px; /* Adjust margin between image and text */
}

.nav-info-link span {
    font-size: 14px; /* Adjust font size as needed */
    color:#fff;
}

.nav-info a, .nav-main a {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

/* Main Nav Bar */
.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    height: 70px;
    padding: 0 10px; /* Adjust padding as needed */
    position: relative;
}

.nav-main .logo {
    height: 50px; /* Adjust logo height */
}

.menu-toggle {
    display: none; /* Hide menu toggle by default */
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    background-color: transparent;
    position: relative;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #FF6600; /* Highlight color */
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Dropdown CSS */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    width: 200px; /* Adjust width as needed */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Position the dropdown below the link */
    min-height: calc(100px + 20px); /* Dynamic min-height calculation */
    max-height: 400px; /* Adjust max-height to make dropdown taller */
    overflow-y: auto; /* Add scroll if content exceeds max-height */
    transition: max-height 0.3s ease; /* Add transition */
    margin-top: 5%;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav ul li.dropdown:hover .dropdown-content {
    display: block;
}


/* ----- Home Page -----*/
/* Main Image */

.main-content {
    width: 100%;
    overflow-x: hidden ;
}

.image-main {
    position: relative;
}

.image-main img {
    height: auto; /* Adjust the height as needed */
    max-width: 100%; /* Maintain aspect ratio */
    display: block; /* Remove inline-block spacing issue */
    margin: 0 auto; /* Center the image if needed */
}

.image-text {
    position: absolute;
    top: 15%;
    padding: 10px;
    margin: 0 0 0 5%;
}

.image-text  h1{
    font-size:35px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3%;
    color: #000;
    text-align: center;
}

.image-text p {
    font-size: 20px;
    color: #333333;
    text-align: center;
}

/*----- Main -----*/

/* Reviews*/
.reviews-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: rgb(235, 235, 235);
}

.review-title {
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
}

.reviews-carousel {
    display: flex;
    text-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 400px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.reviews {
    display: flex;
    text-wrap: wrap;
    transition: transform 0.5s ease;
    gap: 20px;
    max-width: 1240px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.review {
    scroll-snap-align: start;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    flex: 0 0 auto;
    box-sizing: border-box;
    overflow: hidden;   
}

.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.review-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.review-details {
    flex: 1;
}

.review-details h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.review-date {
    font-size: 0.9em;
    color: #666;
}

.review-stars {
    font-size: 1.5em;
    color: #f1c40f;
}

.star {
    margin-right: 2px;
}

.review-content {
    line-height: 1.5;
}

/* Contact Us At Home Page */
.contact-form {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contact-form .sub-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form-side form {
    width: 100%;
}

.contact-form-side iframe {
    padding: 10px;
    width: 500px;
    height: 600px;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #4d3f3f;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1e3a8a;
    color: #000;
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

#msg {
    color: #61b252;
    margin-top: -10px;
    display: block;
}

/*----- About Us Page ----- */
.image-container .image-main .small-main-image {
    margin: 0% auto;
    height: 250px;
    width: 100%;
    filter: opacity(60%);
}

.image-container .image-main {
    position: relative;
}

.image-container .image-text {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.image-container .no-home-page-text {
    margin: 0;
    color: black; /* Adjust color as needed */
    font-size: 50px; /* Adjust size as needed */
    position: relative;
}

/*----- Who Are We Section -----*/

.about-us-main {
    margin: 3% auto 0 auto;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh;
    max-height: 150vh; 
}


.about-us-main .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.about-us-main .about-content {
    display: flex;
    justify-content: space-between; /* Space between text and image */
    align-items: center; /* Center items vertically */
    width: 100%;
    max-width: 1200px; /* Optional: set a max-width for the content */
    padding: 10px;
}

.about-us-main .text {
    flex: 1 ;
}

.about-us-main .image {
    width: 100%;
    flex: 1 ;
    text-align: center;
}

.about-us-main h2 {
    margin: 15px auto;
    color: #ee152b;
}

.about-us-main h1 {
    margin: 10px auto;
    color: #000;
    font-size: 2em;
}

.about-us-main p {
    max-width: 500px;
    text-wrap: wrap;
    line-height: 1.6;
    margin: 10px 0;
}

.about-us-main .contact-button {
    margin-top: 20px;
}

.about-us-main .contact-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d32f2f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.about-us-main .image img {
    max-width: 100%;
    height: 500px;
    border-radius: 10px;
}

.about-us-main footer.contact-info {
    margin-top: 20px;
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

.about-us-main footer.contact-info p {
    margin: 5px 0;
    font-size: 1.1em;
    color: #1e3a8a;
}

.about-content .image a {
    display: inline-flex; /* Aligns image and text horizontally */
    align-items: center; /* Centers items vertically */
    margin: 15px; /* Space around each link */
    text-decoration: none; /* Remove underline from links */
}

/* Style the images within the links */
.about-content .image a img {
    width: 32px; /* Adjust size of the icons */
    height: 32px; /* Ensure icons are square */
    margin-right: 8px; /* Space between image and text */
}


/* Hover effects */
.about-content .image a:hover img {
    opacity: 0.8; /* Slightly fade the image on hover */
}

.about-content a:hover span {
    text-decoration: underline; /* Underline text on hover */
}

.footer-content .about {
    margin-top: 20%;
}

/*----- Why Us Section -----*/

.why-us  {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Aligns horizontally */
    align-items: center; 
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.three-reasons-why-us  .about-us-title {
    font-size: 32px;
    color: #0F4C75;
    margin: 5% auto;
}

.why-us .three-reasons-why-us h3 {
    font-size: 22px;
    margin: 3%;
    color: #000;
}


.three-reasons-why-us .why-choose-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust spacing between items */
}

.why-choose-item img {
    background-color: #f0e7e7;
    width: 64px;
    vertical-align: top;
}

.why-choose-item {
    background-color: #f0e7e7;
    padding: 20px;
    flex: 1 1 calc(33% - 20px); /* Adjust width of each item (33% for three items per row) */
}

.why-choose-item p {
    background-color: #f0e7e7;
    margin: 2% auto;
    vertical-align: top;
    padding: 20px;
    font-size: 18px;
    color: #684451;
    text-align: center;
}

/*----- Services Page ----- */
/*----- Our Services Section -----*/

.our-services-main {
    height: 120vh;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
}


.our-services-main .container {
    max-width: 1200px;
    margin: 0 auto;
}

.our-services-main .our-service-content {
    display: flex;
    justify-content: space-between; /* Space between text and image */
    align-items: center; /* Center items vertically */
    width: 100%;
    max-width: 1200px; /* Optional: set a max-width for the content */
    padding: 20px;
}

.our-services-main .text {
    flex: 1 ;
}

.our-services-main .image {
    width: 100%;
    flex: 1 ;
    text-align: center;
    padding: 20px;
    border: 5px solid rgb(210, 202, 190);
    box-shadow: 10px 10px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.our-services-main h2 {
    margin: 15px auto;
    color: #ee152b;
}

.our-services-main h1 {
    margin: 30px auto 20px auto;
    color: #000;
    font-size: 2em;
}

.our-services-main p {
    max-width: 500px;
    text-wrap: wrap;
    line-height: 1.6;
    margin: 10px 0;
}

.our-services-main .contact-button {
    margin-top: 20px;
}

.contact-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d32f2f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.our-services-main .image img {
    max-width: 100%;
    height: 500px;
    border-radius: 10px;
}

.our-services-main footer.contact-info {
    margin-top: 20px;
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

.our-service-content #five-services {
    padding: 20px auto;
    line-height: 2;
    text-decoration: none;
    list-style:none;
    font-size: 32px;
    color: #362886;
    font-weight: bold;
}

.our-service-content #five-services img {
    width: 28px;
    height: 28px;
    padding: 8px auto;

}

.our-service-content .image a {
    display: inline-flex; /* Aligns image and text horizontally */
    align-items: center; /* Centers items vertically */
    margin: 15px; /* Space around each link */
    text-decoration: none; /* Remove underline from links */
}

/* Style the images within the links */
.our-service-content .image a img {
    width: 32px; /* Adjust size of the icons */
    height: 32px; /* Ensure icons are square */
    margin-right: 8px; /* Space between image and text */
}


/* Hover effects */
.our-service-content .image a:hover img {
    opacity: 0.8; /* Slightly fade the image on hover */
}

.our-service-content a:hover span {
    text-decoration: underline; /* Underline text on hover */
}

.footer-content .our-service-content {
    margin-top: 20%;
}

/* Our Services Description*/
.site-header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.site-title {
    margin: 0;
    color: #000;
}

.site-subtitle {
    margin: 10px 0;
    color: #544040;
}

.site-main {
    margin: 40px auto;
    padding: 20px;
}

.services-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services-title {
    color: #333;
    font-size: 1.5em;
}

.services-description {
    color: #666;
    margin: 10px 0;
}

.services-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}
.service-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 20px;
    width: calc(33% - 40px);
    box-sizing: border-box;
    border: 5px solid rgb(210, 202, 190);
    box-shadow: 10px 10px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.service-card-title  {
    width: fit-content;
}

.service-card > :not(:last-child) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.service-card img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    
}

.service-card-title {
    color: #333;
    font-size: 1.2em;
}

.service-card-description {
    color: #666;
}

.site-footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.services-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-text {
    margin: 0;
    color: #333;
}

/*----- Service Prices -----*/

.service-prices-container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

.service-prices-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 22px;
}

.service-prices-title h1 {
    margin: 0;
    font-size: 22px;
}

.service-prices {
    max-height: 400px;
    overflow: scroll;
    background: #fff;
    border: 1px solid #ddd;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
}

.service-prices-name {
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.sub-service-title {
    font-weight: bold;
    font-size: 18px;
}

.sub-service-info {
    font-weight: bold;
    color: red;
    
}

.sub-services {
    line-height: 1.5rem;
    padding-left: 1rem;
}

.sub-service {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

/*----- Blog Page -----*/

.blog-container {
    width: 90%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.blog-post {
    flex: 3;
    margin: 20px;
}

.post-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.post-date {
    color: #888;
    font-size: 0.9em;
    margin-bottom: 15px;
}

.post-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.post-excerpt {
    margin-bottom: 15px;
}

.post-content {
    margin-bottom: 20px;
}

.recent-posts {
    flex: 1;
    background: #eee;
    margin-left: 100px;
    padding: 10px;
    border-radius: 5px;
}

.recent-posts-title {
    margin-bottom: 15px;
    font-size: 1.5em;
}

.recent-posts-list {
    list-style: none;
}

.recent-post-item {
    margin-bottom: 10px;
}

.recent-post-link {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.recent-post-link:hover {
    color: #007BFF;
}


/*----- Footer -----*/

:root {
    --footer-background-color: rgb(0, 0, 0);
}
:root {
    --copyright-background-color: rgb(0, 0, 0);
}


footer {
    background-color: var(--footer-background-color);
    height: fit-content;
    color: rgb(0, 0, 0);
    padding: 20px 0 0 0;
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
}

.footer-content {
    background-color: var(--footer-background-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    height: 300px;
    margin: 20px 0 20px 0;
}

.footer-content div,
.footer-content h3,
.footer-content ul,
.footer-content ul li,
.footer-content ul li a,
.footer-content img,
.footer-content p {
    background-color: var(--footer-background-color);
    color: #888888;
}

.copyright,
.copyright p,
.social-links,
.social-links ul,
.social-links ul li,
.social-links ul li a,
.social-links img {
    background-color: var(--copyright-background-color);
    color: #888888;
}

.footer-content h3 {
    font-size: 20px;
    margin-bottom: 15%;
    color: #333333;
    text-decoration: none;
    
}

.footer-content .for-us p {
    font-size: 16px;
    text-align: left;
    text-wrap: wrap;
    margin-top: 3%;
}

.footer-content .for-us img {
    height: 70px;
    margin: 10% 40px 10% 0;
}

.footer-content .working-time ul li {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 30px;
    text-align: left;
}

.footer-content .services {
    margin-right: 5%;
}
 
.services a {
    text-decoration: none;
}

.footer-content .services ul li{
    margin-left: 70px;
    text-align: left;
    font-size: 16px;
    margin-top: 15px;
}

.footer-content img {
    height: 120px;
    margin-top: -20%;
}
.footer-content p {
    max-width: 200px;
    text-align: center;
}

.footer-content ul {
    list-style-type: none;
    padding: 0;
}

.footer-content ul li a {
    text-decoration: none;
    transition: color 0.3s;
}

.footer-content ul li a:hover {
    color: #c25f5f;
}

.footer-content .contact-info {
    text-align: left; /* Align items to the left if necessary */
}

.footer-content .contact-info li {
    margin-bottom: 10px; /* Adjust vertical spacing between items */
    list-style: none; /* Remove default list styles */
}

.footer-content .contact-info img {
    margin-top: 3px;
    height: 25px;
    margin-right: 10px; /* Adjust as needed */
    vertical-align: middle; /* Align images vertically */
    
}

.footer-content .contact-info p {
    font-size: 16px;
    margin: 5px 0 0 0;
    display: inline; /* Ensure text is displayed inline */
    vertical-align: middle; /* Align text vertically with image */
}

/* ----- Copyright -----*/
.copyright {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 80px;
    background-color: #000;
}

.copyright p {
    font-size: 16px;
    display: inline-block;
    margin-right: 70%;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

.social-links {
    vertical-align: middle;
    margin-top: 0px;
    display: inline-block;
}

.social-links ul {
    display: inline;
    padding: 0;
    margin: 0;
}

.social-links ul li {
    display: inline;
    margin-right: 20px;
}

.social-links ul li a {
    text-decoration: none;
}

.social-links img {
    height: 25px;
    vertical-align: middle;
}


/*----- Contact Page -----*/
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 5% 0;
    
}

.contact-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    max-width: 800px;
    max-height: 700px;
    width: 100%;
    overflow: hidden;
}

.contact-title {
    color: #000;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.contact-details {
    padding: 20px;
    text-align: center;
}

.contact-details h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #d84315;
}

.contact-details p {
    margin: 10px 0;
    font-size: 16px;
}

.contact-details .icon {
    margin-right: 10px;
}

.contact-details a {
    color: #d84315;
    text-decoration: none;
}

.contact-details .working-hours {
    margin-top: 20px;
    font-size: 16px;
}

.contact-details .working-hours .closed {
    color: red;
}

.map-container {
    width: 100%;
    height: 450px;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/*----- Responsive Css-----*/

@media only screen and (max-width: 1600px){

    .copyright ul li {
        margin: 0 5px;
    }

    
}

@media only screen and (max-width: 1300px){

    .copyright p {
        margin: auto auto;
    }

    .for-us {
        display: none;
    }

    .footer-content {
        display: space-evenly;
        
    }
}


/* Media query for screens up to 768px */
@media (max-width: 768px) {

    .nav-info {
        display: none;
    }

    .menu-toggle {
        display: block; /* Show menu toggle icon */
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: fixed; /* Fixed position to cover full viewport height */
        top: 0;
        right: 0;
        width: 30%; /* Adjust width as needed */
        height: 100vh; /* Full viewport height */
        background-color: #ffffff;
        box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000; /* Ensure menu is above other content */
        padding: 20px;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%); /* Start off-screen */
    }

    nav ul.open {
        display: flex;
        transform: translateX(0);
    }

    nav ul li {
        margin: 10px 0;
    }

    .menu-toggle span {
        background-color: #000;
        transition: transform 0.3s ease;
    }

    .menu-toggle.open span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.open span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.open span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .dropdown-content {
        position: static; /* Reset dropdown positioning */
        display: none; /* Hide dropdowns initially */
        max-height: none; /* Reset max-height */
        overflow-y: visible; /* Reset overflow */
        margin-top: 0; /* Reset margin */
    }

    nav ul li.dropdown:hover .dropdown-content {
        display: none; /* Keep dropdowns hidden on hover */
    }
}


@media only screen and (max-width: 450px) {

    .nav-info {
        display: none;
    }
    
    .menu-toggle {
        display: block; /* Show menu toggle icon */
    }

    #mainImage {
        height: 500px;
        width: 100%;/* Hide the original image on smaller screens */
        filter:blur(3px);
    }
    .image-main h1 {
        font-size: 24px;
        text-wrap: wrap;
        margin-top: -30px;
    }
    
    nav ul {
        display: none;
        flex-direction: column;
        position: fixed; /* Fixed position to cover full viewport height */
        top: 0;
        right: 0;
        width: 60%; /* Adjust width as needed */
        height: 100vh; /* Full viewport height */
        background-color: #ffffff;
        box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000; /* Ensure menu is above other content */
        padding: 20px;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%); /* Start off-screen */
    }
    
    nav ul.open {
        display: flex;
        transform: translateX(0);
    }
    
    nav ul li {
        margin: 10px 0;
    }
    
    .menu-toggle span {
        background-color: #000;
        transition: transform 0.3s ease;
    }
    
    .menu-toggle.open span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .menu-toggle.open span:nth-child(2) {
        opacity: 0;
    }
    
    .menu-toggle.open span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
    .dropdown-content {
        position: static; /* Reset dropdown positioning */
        display: none; /* Hide dropdowns initially */
        max-height: none; /* Reset max-height */
        overflow-y: visible; /* Reset overflow */
        margin-top: 0; /* Reset margin */
    }
    
    nav ul li.dropdown:hover .dropdown-content {
        display:none; /* Keep dropdowns hidden on hover */
    }

    .footer-content {
        height: fit-content;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center-align items horizontally */
    }

    .for-us {
        display: none;
    }

    .services p,
    .contact-info p,
    .working-time p {
        text-align: center; /* Center-align <p> tags */
        margin: 0; /* Remove default margins */
    }

    .services,
    .contact-info,
    .working-time,
    .copyright {
        
         /* Full width */
        margin-bottom: 20px;
         /* Add spacing between sections */
        text-align: center;
        align-items: center;
        align-self: center;
    }

    .services h3,
    .contact-info h3,
    .working-time h3,
    .copyright {
         /* Full width */
        margin-bottom: 20px;
         /* Add spacing between sections */
        text-align: center;
        align-items: center;
        align-self: center;
    }

    .services ul,
    .contact-info ul,
    .working-time ul {
        padding-left: 0; /* Remove default padding */
        list-style-type: none; /* Remove default list styles */
        text-align: center; 
        align-items: center;/* Reset text alignment for list items */
    }

    .services li,
    .contact-info li,
    .working-time li {
        text-align: center; /* Center-align list items */
        align-self: center;
        align-items: center;
    }

    .reviews-container {
        max-width: 100%;
        overflow-y: scroll;
    }
}
    

/*----- ScrollBar -----*/
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(82, 74, 117, 0.8); 
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}

::-moz-scrollbar-button, ::-webkit-scrollbar-button {
  width: 0px;
}