* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: rgb(250, 250, 250);
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
}

:root {
    --font-size-base: 16px;
    --h1-size: 2.5em;
    --h2-size: 1.5em;
    --h3-size: 1.17em;
    --h4-size: 1em;
    --h5-size: 0.83em;
    --h6-size: 0.75em;
    --p-size: 1em;
    --small-size: 0.8em;
    --blockquote-size: 1.25em;
    --pre-size: 1em;
    --code-size: 0.85em;
    --label-size: 1em;
    --input-size: 1em;
    --button-size: 1em;
    --li-size: 1em;
    --figcaption-size: 0.9em;
    --orange: #C97A3F;
}

body {
    font-size: var(--font-size-base);
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
}

h6 {
    font-size: var(--h6-size);
}

p {
    font-size: var(--p-size);
}

small {
    font-size: var(--small-size);
}

blockquote {
    font-size: var(--blockquote-size);
    border-left: 2px solid #000; /* You can adjust or remove this as needed */
    padding-left: 1em;
    margin-left: 0;
    margin-right: 0;
}

pre {
    font-size: var(--pre-size);
    background: #f5f5f5;
    padding: 1em;
    border-radius: 4px;
    overflow-x: auto;
}

code {
    font-size: var(--code-size);
    background: #f5f5f5;
    padding: 0.2em 0.4em;
    border-radius: 4px;
}

label {
    font-size: var(--label-size);
}

input, button {
    font-size: var(--input-size);
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
}

li {
    font-size: var(--li-size);
}

figcaption {
    font-size: var(--figcaption-size);
}

/* Info Nav Bar */
.nav-info {
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-info img {
    height: 25px; /* Adjust the height of the location icon */
}

.nav-info-link {
    display: inline-flex;
    text-decoration: none; /* Removes underline from the link */
    align-items: center;
}

.nav-info-link  img {
    margin-right: 10px; /* Adjust margin between image and text */
}

.nav-info-link span {
    font-size: 14px; /* Adjust font size as needed */
    color:#fff;
}

.nav-info a, .nav-main a {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

/* Main Nav Bar */
.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    height: 70px;
    padding: 0 10px; /* Adjust padding as needed */
    position: relative;
}

.nav-main .logo {
    height: 50px; /* Adjust logo height */
}

.menu-toggle {
    display: none; /* Hide menu toggle by default */
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    background-color: transparent;
    position: relative;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #FF6600; /* Highlight color */
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Dropdown CSS */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    width: 200px; /* Adjust width as needed */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Position the dropdown below the link */
    min-height: calc(100px + 20px); /* Dynamic min-height calculation */
    max-height: 400px; /* Adjust max-height to make dropdown taller */
    overflow-y: auto; /* Add scroll if content exceeds max-height */
    transition: max-height 0.3s ease; /* Add transition */
    margin-top: 5%;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav ul li.dropdown:hover .dropdown-content {
    display: block;
}


/* ----- Home Page -----*/
/* Main Image */

.all-pages-title {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    width: 100%;
}

.all-pages-title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page-title-home {
    display: none;
}

.image-main {
    position: relative;
}

.image-main img {
    height: auto; /* Adjust the height as needed */
    width: 100%; /* Maintain aspect ratio */
    display: block; /* Remove inline-block spacing issue */
    margin: 0 auto; /* Center the image if needed */
}

.image-text {
    position: absolute;
    top: 15%;
    padding: 10px;
    margin: 0 0 0 5%;
}

.image-text  h1{
    font-size:35px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3%;
    color: #000;
    text-align: center;
}

.image-text p {
    font-size: 20px;
    color: #333333;
    text-align: center;
}

/*----- Main -----*/

/* Reviews*/
.reviews-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: rgb(250, 250, 250);
}

.review-title {
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
}

.reviews-carousel {
    display: flex;
    text-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 400px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.reviews {
    display: flex;
    text-wrap: wrap;
    transition: transform 0.5s ease;
    gap: 20px;
    max-width: 1240px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.review {
    scroll-snap-align: start;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    flex: 0 0 auto;
    box-sizing: border-box;
    overflow: hidden;   
}

.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.review-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.review-details {
    flex: 1;
}

.review-details h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.review-date {
    font-size: 0.9em;
    color: #666;
}

.review-stars {
    font-size: 1.5em;
    color: #f1c40f;
}

.star {
    margin-right: 2px;
}

.review-content {
    line-height: 1.5;
}

/* Contact Us At Home Page */

.contact-home-container {
    height: 100vh;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



/*----- About Us Page ----- */
.image-container .image-main .small-main-image {
    margin: 0% auto;
    height: 250px;
    width: 100%;
    filter: opacity(60%);
}

.image-container .image-main {
    position: relative;
}

.image-container .image-text {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.image-container .no-home-page-text {
    margin: 0;
    color: black; /* Adjust color as needed */
    font-size: 50px; /* Adjust size as needed */
    position: relative;
}

/*----- Who Are We Section -----*/

.about-page {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-overview {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #f7f8fa;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
}

.company-description {
    flex: 3;
}

.company-description h2 {
    font-size: 28px;
    color: var(--orange);
    margin-bottom: 10px;
}

.company-description h1 {
    font-size: 48px;
    color: #222;
    margin-bottom: 20px;
}

.company-description p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

.contact-us-button a {
    display: inline-block;
    padding: 12px 30px;
    background-color: var(--orange);
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.contact-us-button a:hover {
    background-color: #0056b3;
}

/* Company Contact Section */
.company-contact {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.contact-details p {
    font-size: 20px;
    color: #333;
    text-align: center;
    margin: 10px 0;
}

.contact-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

.contact-link img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease, filter 0.3s ease;
    margin: 10px;
}

.contact-link img:hover {
    transform: scale(1.1);
    filter: brightness(0.9);
}

/* Responsive Design */
@media (max-width: 768px) {
    .company-overview {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .company-description {
        margin-right: 0;
        margin-bottom: 30px;
        text-align: center;
    }

    .company-description h1 {
        font-size: 36px;
    }

    .company-description p {
        font-size: 16px;
    }

    .contact-us-button a {
        font-size: 16px;
        padding: 10px 20px;
    }

    .company-contact {
        width: 100%;
    }

    .contact-icons {
        flex-direction: column;
        align-items: center;
    }

    .contact-link {
        margin-bottom: 20px;
    }
}




/*----- Why Us Section -----*/

.why-us-container {
    background-color: #fff;
    padding: 50px 20px;
}

.why-us-section {
    text-align: center;
}

.why-us-title {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 2px solid #ff6f00;
    display: inline-block;
    padding-bottom: 10px;
}


.why-us-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.why-choose-card {
    background-color: #f4f4f4;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.why-choose-card img {
    max-width: 100px;
    height: auto;
    margin-bottom: 15px;
}

.why-choose-card h3 {
    font-size: 1.5em;
    color: #ff6f00;
    margin: 10px 0;
    font-weight: bold;
}

.why-choose-card p {
    font-size: 1em;
    color: #333;
}

.why-choose-card:hover {
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-color: #ff6f00;
}

@media (max-width: 768px) {
    .why-choose-card {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .why-choose-card {
        width: calc(100% - 40px);
    }
}
/*----- Services Page ----- */
/*----- Our Services Section -----*/

.our-services-main {
    height: 120vh;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
}


.our-services-main .container {
    max-width: 1200px;
    margin: 0 auto;
}

.our-services-main .our-service-content {
    display: flex;
    justify-content: space-between; /* Space between text and image */
    align-items: center; /* Center items vertically */
    width: 100%;
    max-width: 1200px; /* Optional: set a max-width for the content */
    padding: 20px;
}

.our-services-main .text {
    flex: 1 ;
}

.our-services-main .image {
    width: 100%;
    flex: 1 ;
    text-align: center;
    padding: 20px;
    border: 5px solid rgb(210, 202, 190);
    box-shadow: 10px 10px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.our-services-main h2 {
    margin: 15px auto;
    color: #ee152b;
}

.our-services-main h1 {
    margin: 30px auto 20px auto;
    color: #000;
    font-size: 2em;
}

.our-services-main p {
    max-width: 500px;
    text-wrap: wrap;
    line-height: 1.6;
    margin: 10px 0;
}

.our-services-main .contact-button {
    margin-top: 20px;
}

.contact-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d32f2f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.our-services-main .image img {
    max-width: 100%;
    height: 500px;
    border-radius: 10px;
}

.our-services-main footer.contact-info-service {
    margin-top: 20px;
    text-align: center;
    background-color: #cdbbbb;
    padding: 20px;
    color: #000;
    border-radius: 10px;
}

.our-service-content #five-services {
    padding: 20px auto;
    line-height: 2;
    text-decoration: none;
    list-style:none;
    font-size: 38px;
    color: var(--orange);
    font-weight: 500;
    
}

.our-service-content #five-services img {
    width: 28px;
    height: 28px;
    padding: 8px auto;

}

.our-service-content .image a {
    display: inline-flex; /* Aligns image and text horizontally */
    align-items: center; /* Centers items vertically */
    margin: 15px; /* Space around each link */
    text-decoration: none; /* Remove underline from links */
}

/* Style the images within the links */
.our-service-content .image a img {
    width: 32px; /* Adjust size of the icons */
    height: 32px; /* Ensure icons are square */
    margin-right: 8px; /* Space between image and text */
}


/* Hover effects */
.our-service-content .image a:hover img {
    opacity: 0.8; /* Slightly fade the image on hover */
}

.our-service-content a:hover span {
    text-decoration: underline; /* Underline text on hover */
}

.footer-content .our-service-content {
    margin-top: 20%;
}

/* Our Services Description*/
.site-header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.site-title {
    margin: 0;
    color: #000;
}

.site-subtitle {
    margin: 10px 0;
    color: #544040;
}

.site-main {
    background-color: rgb(245, 245, 245);
    margin: 40px auto;
    padding: 20px;
}

.services-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services-title {
    color: var(--orange);
    font-size: 1.5em;
}

.services-description {
    margin: 10px 0;
}

.services-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
    justify-content: space-between; /* Distribute space between items */
    align-items: flex-start; /* Align items at the top */
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width calculations */
  
}
.service-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
    border: 1px solid var(--orange);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 20px;
    width: calc(33% - 40px);
    box-sizing: border-box;
    box-shadow: 0 5px 10px var(--orange);
}

.service-card-title  {
    color: var(--orange);
    width: fit-content;
}

.service-card > :not(:last-child) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.service-card img {
    display: none;
    justify-content: center;
    align-items: center;
    width: 64px;
    
}

.service-card-title {
    color: #333;
    font-size: 1.2em;
}

.service-card-description {
    color: #666;
}

.site-footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.services-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-text {
    margin: 10px 0;
    color: #333;
}

/*----- Service Prices -----*/

.service-prices-container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

.service-prices-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 22px;
}

.service-prices-title h1 {
    margin: 0;
    font-size: 32px;
}

.service-prices {
    max-height: 400px;
    overflow: scroll;
    background: #fff;
    border: 1px solid #ddd;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
}

.service-prices-name {
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.sub-service-title {
    font-weight: bold;
    font-size: 18px;
}

.sub-service-info {
    font-weight: bold;
    color: red;
    
}

.sub-services {
    line-height: 1.5rem;
    padding-left: 1rem;
}

.sub-service {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

/*----- Partners Page -----*/

.partners-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.partner-card {
    width: 90%;
    min-height: 400px;
    perspective: 1000px;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    transition: transform 1.3s;
}

.card-front {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #007BFF;
    color: white;
    transform: rotateX(180deg);
}

.partners-container .card-back h2, p ,button {
    margin: 20px;
}

.card-back p {
    max-width: 60%;
}

.partner-card:hover .card-front {
    transform: rotateX(-180deg);
}

.partner-card:hover .card-back {
    transform: rotateY(0deg);
}

.learn-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d32f2f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.learn-more-button:hover {
    background-color: #ff002f;
}

/*About Partners*/

.partner-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.partner-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partner-description p {
    text-align: center;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: 400;
    max-width: 85%;
}

.partner-description h1 {
    text-align: center;
}


/*----- Blog Page -----*/

.blog-container {
    width: 95%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.blog-post {
    flex: 3;
    margin: 20px;
}

.post-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.post-date {
    color: #888;
    font-size: 0.9em;
    margin-bottom: 15px;
}

.post-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.post-excerpt {
    margin: 0 0 15px 0;
}

.post-content {
    margin-bottom: 20px;
    text-decoration: none;
    list-style-type: none;
}

.recent-posts {
    flex: 1;
    margin-top: 50px;
    padding: 10px;
}

.recent-posts-title {
    margin-bottom: 15px;
    font-size: 1.5em;
}

.post-content h2,
.post-content p,
.post-content ul  {
    list-style-type: none;
    margin: 10px 0;
    }
    
.recent-post-item-img {
    width: 100%;
    align-self: flex-start;
    height: fit-content;
}

.recent-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: left;
    border: 2px solid rgb(243, 241, 238);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 15px;
    margin: 40px auto;
}

.recent-post-p {
    margin:10px 0;
}

.recent-post-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.recent-post-link {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.recent-post-link:hover {
    color: #007BFF;
}


/*----- Projects Page-----*/
.projects-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-card {
    margin: 20px;
    width: 400px;
    height: fit-content;
}

.project-card a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.project-card img:hover {
    filter: opacity(0.6);
}

.project-card img {
    width: 400px;
    max-height: 600px;
}

/*----- Photos Display -----*/

.photos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.photos {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    max-width: 1200px;
    width: 100%;
}

.photos a {
    display: block; /* Ensures anchor tags take up the full space of their grid item */
}

.photos img {
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.photos img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/*----- Contact Page -----*/
.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-container {
    min-height: fit-content;
    display: flex;
    background: #fff;
    margin: 30px;
    width: 90%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Contact Info Section */
.contact-info-side {
    border-radius: 10px;
    background: var(--orange);
    color: #fff;
    padding: 30px;
    width: 40%;
    margin: 20px;
}

.contact-info-side h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.contact-info-side p {
    margin-bottom: 30px;
}

.contact-info-side ul {
    list-style: none;
    padding: 0;
}

.contact-info-side ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-info-side ul li i {
    font-size: 1.5rem;
    margin-right: 15px;
}

.contact-info-side ul li a {
    color: #fff;
    text-decoration: none;
}

/* Contact Form Section */
.contact-form {
    margin: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-form h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form .btn-submit,
.contact-form button {
    width: 10rem;
    height: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 14px;
    background-color: orange;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-form .btn-submit:hover,
.contact-form button:hover {
    background-color: #59789a;
    transform: translateY(-10px);
}

.contact-form-side iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 5px;
}

#msg {
    margin-top: 10px;
}

.contact-form h1.sub-title {
    margin-bottom: 20px;
}


@media screen and (max-width: 850px) { 

    .contact-form-side iframe {
        height: 200px;
    }

    .contact-container {
        margin: 10px 0;
        align-items: center;
    }
    
}



@media screen and (max-width: 650px) {
    .contact-container {
        flex-direction: column;
        padding: 25px;
        align-items: center;
    }

    .contact-info-side, 
    .contact-form-side, 
    .contact-form {
        width: 100%;
    }

    .contact-form-side {
        order: 2;
        margin-bottom: 20px;
    }

    .contact-form {
        order: 1;
        margin-bottom: 20px;
    }
}


/*----- Footer -----*/
footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0 0 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
}

.footer-content > div {
    flex: 1 1 250px;
    margin: 10px;
}

.footer-content h3 {
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.footer-content h3 a {
    display: block;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #ccc;
}

.footer-content .partners-info ul li,
.footer-content .services ul li,
.footer-content .contact-info ul li a {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}

.contact-info a {
    display: flex;
    align-items: center;
}

.contact-info img {
    margin-right: 10px;
}

.contact-info p {
    margin: 0;
    padding-bottom: -15px;
    line-height: 2;
}

.footer-content p {
    max-width: 300px;
}

.footer-content .contact-info img {
    margin-top: 3px;
    height: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

.for-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.for-us .logo {
    align-items: center;
    justify-content: center;
    max-width: 130px;
    transform: translateX(-20%);
}

.for-us p {
    line-height: 1.6;
}

.services ul, .contact-info ul, .partners-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.services li, .contact-info li, .partners-info li {
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.6;
}

.services li a, .contact-info li a, .partners-info li a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

.contact-info img, .social-links img {
    vertical-align: middle;
    margin-right: 10px;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0 40px 20px 40px;
    margin: 20px 10px 0px 10px;
}

.copyright a {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.copyright a:hover {
    color: orange;
    transform: scale(1.05);
    transform: translateY(-10px);
}

.copyright a img:hover {
    transform: translateY(-10px);
}

.copyright a img {
    margin: auto 5px;
    height: 25px;
    vertical-align: middle;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.copyright p {
    font-size: 16px;
    color: #fff;
}

.social-links ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.social-links ul li {
    margin-right: 20px;
}

.social-links img {
    height: 25px;
    vertical-align: middle;
}

@media (min-width: 550px) and (max-width: 1124px) {
    #developed-by {
        margin: 20px 0;
    }

    .footer-content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .footer-content > div {
        flex: 1 1 calc(40% - 20px);
        box-sizing: border-box;
        margin-bottom: 20px;
    }
}


@media (max-width: 550px) {
    #developed-by {
        margin: 20px 0;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer-content > div {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    .copyright {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .copyright p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .copyright a {
        margin: 10px 0;
    }

}









/*----- Responsive Css-----*/

@media only screen and (max-width: 1300px){

    .nav-info {
        display: none;
    }
    
    .menu-toggle {
        display: block;
    }
    
    .image-main h1 {
        font-size: 24px;
        text-wrap: wrap;
        margin-top: -30px;
    }
    
    nav ul {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100vh;
        background-color: #ffffff;
        box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        padding: 20px;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
    }
    
    nav ul.open {
        display: flex;
        transform: translateX(0);
    }
    
    nav ul li {
        margin: 10px 0;
    }
    
    .menu-toggle span {
        background-color: #000;
        transition: transform 0.3s ease;
    }
    
    .menu-toggle.open span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .menu-toggle.open span:nth-child(2) {
        opacity: 0;
    }
    
    .menu-toggle.open span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
    .dropdown-content {
        position: static;
        display: none;
        max-height: none;
        overflow-y: visible;
        margin-top: 0;
    }
    
    nav ul li.dropdown:hover .dropdown-content {
        display:none;
    }

    .why-us.container {
        height: fit-content;
    }

    .reviews-container {
        height: 100%;
        overflow-x:hidden;
    }

    .reviews-carousel {
        max-width: 90%;
        overflow-x: scroll;
    }

    .contact-form .sub-title {
        text-align: center;
    }

    .contact-form {
        height: fit-content;
        overflow-y: hidden;
    }

    .contact-form-side form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .contact-form-side iframe {
        width: 100%;
    }

    .partners-container {
        margin: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .partner-card {
        width: 90%;
        min-height: 600px;
    }

    .card-back, .card-front {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .card-back .partner-info-btn .learn-more-button  {
        display: inline-block;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .card-back h2 {
    font-size: 22px;
    }

    .card-back p {
        font-size: 16px;
    }
    

    
}


@media only screen and (max-width: 1000px){
    

    .partners-container {
        margin: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .partner-card {
        width: 90%;
        min-height: 400px;
    }

    .card-back, .card-front {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .card-back .partner-info-btn .learn-more-button  {
        display: inline-block;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .card-back h2 {
    font-size: 18px;
    }

    .card-back p {
        display: none;
    }
 }

/* Media query for screens up to 768px */
@media (max-width: 768px) {

    .nav-info {
        display: none;
    }
    
    .menu-toggle {
        display: block; /* Show menu toggle icon */
    }

    .image-main {
        display: none;
    }

    .page-title-home {
        text-align: center;
        background: radial-gradient(circle, var(--orange)70%, #000 );
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:300px;
        width: 100%;
    }
    
    .page-title-home h1 {
        justify-content: center;
        align-items: center;
        color: var(--black);
    }

    .page-title-home p {
        justify-content: center;
        align-items: center;
        color: var(--black);
    }
   
    
    nav ul {
        display: none;
        flex-direction: column;
        position: fixed; /* Fixed position to cover full viewport height */
        top: 0;
        left: 0;
        width: 60%; /* Adjust width as needed */
        height: 100vh; /* Full viewport height */
        background-color: #ffffff;
        box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000; /* Ensure menu is above other content */
        padding: 20px;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%); /* Start off-screen */
    }
    
    nav ul.open {
        display: flex;
        transform: translateX(0);
    }
    
    nav ul li {
        margin: 10px 0;
    }
    
    .menu-toggle span {
        background-color: #000;
        transition: transform 0.3s ease;
    }
    
    .menu-toggle.open span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .menu-toggle.open span:nth-child(2) {
        opacity: 0;
    }
    
    .menu-toggle.open span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
    .dropdown-content {
        position: static; /* Reset dropdown positioning */
        display: none; /* Hide dropdowns initially */
        max-height: none; /* Reset max-height */
        overflow-y: visible; /* Reset overflow */
        margin-top: 0; /* Reset margin */
    }
    
    nav ul li.dropdown:hover .dropdown-content {
        display:none; /* Keep dropdowns hidden on hover */
    }

    .about-us-main-container {
        margin: 0;
        max-width: 100%;
        max-height: 100%;
    }

    .about-us-main-container .about-content p {
        font-size: 10px;
    }
    

    .about-us-main-container .about-content .image-info-about {
        width: 65%;
        height: 60%;
    }
    

    .why-us.container {
        height: 100%;
    }

    .reviews-container {
        height: 100%;
        overflow-x:hidden;
    }

    .reviews-carousel {
        max-width: 90%;
        overflow-x: scroll;
    }

    .contact-form .sub-title {
        text-align: center;
    }

    .contact-form {
        height: fit-content;
        overflow-y: hidden;
    }

    .about-us-main-container .about-content .contact-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-form-side form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .contact-form-side iframe {
        width: 100%;
    }

    
    /* Partners Page */

    
    

    /*Contact Page*/

    .contact-container {
        width: 90%;
    }


    /*Blog Page*/

    .blog-container {
        display: inline;
    }
}

@media only screen and (max-width: 450px) {

    
    .about-us-main-container {
        margin-top: 80px;
        height: fit-content;
    }

    .about-us-main-container .about-content p {
        font-size: 10px;
    }
    

    .about-us-main-container .about-content .image-info-about {
        display: none;
    }
    

    .why-us.container {
        margin-top: 100px;
        height: fit-content;
    }

    .reviews-container {
        height: 100%;
        overflow-x:hidden;
    }

    .reviews-carousel {
        max-width: 400px;
        overflow-x: scroll;
    }

    .contact-form .sub-title {
        text-align: center;
    }

    .contact-form {
        height: fit-content;
        overflow-y: hidden;
    }

    .contact-form-side form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .contact-form-side iframe {
        width: 100%;
    }
    

    /* Partners Page */

    .partners-container {
        margin: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .partner-card {
        width: 85%;
    }

    .card-back, .card-front {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow-y: scroll;
    }

    .card-back p {
        display: none;
    }
    .card-back h2 {
    font-size: 18px;
    }

    /* Projects Page*/

    .projects-container {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .projects-container h1 {
        font-size: 32px;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .projects-card {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0;
    }

    .project-card {
        margin: 20px 0;
        width: 90%;
    }

    .project-card h2 {
        font-size: 20px;
    }

    .project-card img {
        width: 100%;
    }
}
    

/*----- ScrollBar -----*/
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(82, 74, 117, 0.8); 
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}

::-moz-scrollbar-button, ::-webkit-scrollbar-button {
  width: 0px;
}